/* 
  MODAL STYLES - Define o estilo para o modal, incluindo seu layout, animações e botões de controle. 
  Este modal é a tela que aparece ao usuario decidir adicionar uma refeição no cardápio.
*/

.modal {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-content {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    width: 300px;
  }